<%= simple_form_for (@owl) do |form| %>
  <% if @owl.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(owl.errors.count, "error") %> prohibited this owl from being saved:</h2>

      <ul>
        <% owl.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
 
    <%= form.text_area :owl, autofocus: true, placeholder:"What did you see?", class:"textarea is-medium " %>
  </div>

  <div class="column new">
  <div>
    <%= form.submit class:"button is-dark" %>
  </div>
  </div>
  
<% end %>
