<!DOCTYPE html>
<html>

  <head>
    <title>Bookhouse</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_tag "main" %>
    
  </head>
  
  <body>
  <% if notice %>
     <div class="flash alert">
       <p class="notification is-success"><%= notice %> <button class="delete"></button> </p>
      </div>
     <% end %>

     <% if alert %>
     <div class="flash">
     <p class="notification is-danger"><%= alert %></p>
       </div>
     <% end %>

     <nav class="navbar is-dark" id="stick">
        <div class="navbar-brand">
          <%= link_to root_path, class:"navbar-item" do %>
          <p class="title is-4 has-text-white" >Bookhouse</p>
          <% end %>
          <div class="navbar-burger burger" onclick="burguer()" onclick="burguerButtons()">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </div>
        </div>

        <div class="navbar-menu">
          <div class="navbar-start">
          
          </div>
          <div class="navbar-end">

            <% if member_signed_in? %>


            <div class="navbar-item">
              <div class="control">
                <%= link_to "New owl", new_owl_path, class:"button is-dark" %>
              </div>
            </div>

            <div class="navbar-item">
              <div class="control">
                <%= link_to current_member.name, members_profile_path , class:"button is-dark" %>
              </div>
            </div>
            
             
              
             

              

              
              <div class="navbar-item">
                <div class="control">
                  <%= link_to "Sign out", destroy_member_session_path, data: {turbo_method: :delete}, class:"button is-danger"%> 
                </div>
              </div>
             
                
             
            <% else %>

            <div class="navbar-item">
              <div class="control">
              <%= link_to "Sign in", new_member_session_path, class:"button is-success" %>
            </div>
            </div>

               

          
          <% end %>
            </div>
          </div>
        </div>
     
     </nav>

     


    <%= yield %>

    <script>
        // Step 1: Select all the delete buttons 
        // which are inside notification element 
        // and loop over them using forEach
        document.querySelectorAll(".notification .delete")
            .forEach(function ($deleteButton) {
  
                // Step 2: Get the parent notification 
                // of the delete button
                const parentNotification = $deleteButton.parentNode;
  
                // Add click event listener on delete 
                // button and when the button get clicked
                // remove the parent notification
                $deleteButton.addEventListener('click', function () {
                    parentNotification.parentNode
                        .removeChild(parentNotification);
                      }
                );
            });

            function burguer(){ 
           document.querySelector('.navbar-menu').classList.toggle('is-active')
            }

          
    </script>

  </body>
 
</html>
